html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color:darkslategray
}


.container {
    max-width: 900px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    padding: 100px;
    border-radius: 20px;
    background-color: darkcyan;
    box-shadow: 0px 0px 21px 2px rgba(0, 0, 0, 0.49);
    -webkit-box-shadow: 0px 0px 21px 2px rgba(0, 0, 0, 0.49);
    -moz-box-shadow: 0px 0px 21px 2px rgba(0, 0, 0, 0.49);
}

.section-container h1 {
    text-align: center;
    color: #ffffff;
    margin: 0;
}

.section-container {
    width: 100%;
}

.dataFlowSection {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.input-section {
    display: flex;
    align-items: center;
    margin-top: 10px;
    column-gap: 10px;
}

.inputfile {
    height: 28px;
    width: 300px;
    margin: 0;
    padding: 3px 10px;
    border: 1px solid #0cc6d75b;
    outline: none;
    background: none;
    font: inherit;
    color: inherit;
    color: #0cc7d7;
    border-radius: 5px;
    font-size: 14px;
}

.uploadButtonContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.uploadFile,
.submitButton {
    background-color: #0cc7d7;
    height: 36px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: block;
    text-align: center;
    text-decoration: none;
    border: 0;
    padding: 0px 9px;
    font-size: 15px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    border-radius: 5px;
    font-weight: 700;
    font-size: 17px;
}

.uploadFile {
    transition: all 250ms;
    width: 140px;
}

.submitButton {
    transition: all 0.8s;
    margin-top: 10px;
    width: 100%;
}

    .submitButton:hover {
        box-shadow: 0px 0px 21px 2px rgba(12, 199, 215, 0.65);
        -webkit-box-shadow: 0px 0px 21px 2px rgba(12, 199, 215, 0.65);
        -moz-box-shadow: 0px 0px 21px 2px rgba(12, 199, 215, 0.65);
    }

.uploadFile:hover {
    transform: translateX(5px);
}

@media screen and (max-width: 720px) {
    .container {
        max-width: 350px;
        padding: 70px;
    }

    .uploadFile {
        width: 170px;
        font-size: 12px;
    }
}

@media screen and (max-width:510px) {
    .container {
        max-width: 300px;
        padding: 20px;
    }
}

